body {
  margin: 0;
  padding: 0;
  height: 667px;
}

p {
    margin: 0;
}

@font-face {
  font-family: "TensorFont";
  src: url("//db.onlinewebfonts.com/t/117f92fb8afd947d07f996aef1de7738.eot");
  src: url("//db.onlinewebfonts.com/t/117f92fb8afd947d07f996aef1de7738.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/117f92fb8afd947d07f996aef1de7738.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/117f92fb8afd947d07f996aef1de7738.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/117f92fb8afd947d07f996aef1de7738.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/117f92fb8afd947d07f996aef1de7738.svg#TensorFont")
      format("svg");
}

.mainBlock {
  position: absolute;
  width: 375px;
  height: 443px;
  top: 112px;
}

.logo {
  position: absolute;
  width: 375px;
  height: 89px;
}

.logo_img {
  position: absolute;
  height: 43px;
  width: 43px;
  top: 7px;
  left: 166.5px;
}

.logo_text {
  position: inherit;
  font-family: TensorFont;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-weight: 700;
  color: #333333;
  left: 97.5px;
  top: 58px;
  height: 31px;
  margin: 0;
}

.undraw {
  position: relative;
  top: 153px;
  height: 290px;
}

.undraw_img {
  position: absolute;
  left: 83px;
}

.greetings {
  position: absolute;
  width: 375px;
  height: 74px;
  top: 369px;
}

.txt {
  margin: 0;
  color: #333333;
  font-family: "SF UI Display", sans-serif;
  font-weight: lighter;
}

.txt_greetings {
  top: 10px;
  padding: 10px 40px;
  width: 295px;
  height: 54px;
  line-height: 17.6px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

/* ------------------------------------------------------------- */
.breeding {
    height: 80px;
    width: 375px;
}

.appBar {
  position: relative;
  margin: 0;
  background-color: rgba(54, 73, 104, 1);
}

.appBar_system {
  position: absolute;
  height: 24px;
  width: 375px;
  z-index: 1;
}

.appBar_top {
    position: relative;
    top: 22px;
    height: 56px;
}

.menu_button {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 24px;
    width: 24px;
}

.path {
    margin: 0;
    position: absolute;
    top: 6px;
    left: 3px;
    height: 2px;
    width: 18px;
    background-color: white;
}

.path_two {
    top: 11px;
}

.path_three {
    top: 15.5px;
    height: 2.5px;
}

.navigation {
    margin: 0;
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    top: 16px;
    left: 73px;
    width: 286px;
    height: 24px;
}

.menu {
    position: absolute;
    height: 140px;
    top: 112px;
}

.theme {
    position: absolute;
    left: 16px;
}

.classmates {
    position: relative;
    left: 198px;
}

.text {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.classmates_text {
    height: 45px;
    border: 1px solid;
    border-color:  #E5E5E5;
    border-top: none;
   
}


