body {
  margin: 0;
  padding: 0;
  height: 667px;
}

@font-face {
  font-family: "TensorFont";
  src: url("//db.onlinewebfonts.com/t/117f92fb8afd947d07f996aef1de7738.eot");
  src: url("//db.onlinewebfonts.com/t/117f92fb8afd947d07f996aef1de7738.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/117f92fb8afd947d07f996aef1de7738.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/117f92fb8afd947d07f996aef1de7738.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/117f92fb8afd947d07f996aef1de7738.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/117f92fb8afd947d07f996aef1de7738.svg#TensorFont")
      format("svg");
}

.mainBlock {
  position: absolute;
  width: 375px;
  height: 443px;
  top: 112px;
}

.logo {
  position: absolute;
  width: 375px;
  height: 89px;
}

.logo_img {
  position: absolute;
  height: 43px;
  width: 43px;
  top: 7px;
  left: 166.5px;
}

.logo_text {
  position: inherit;
  font-family: TensorFont;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-weight: 700;
  color: #333333;
  left: 97.5px;
  top: 58px;
  height: 31px;
  margin: 0;
}

.undraw {
  position: relative;
  top: 153px;
  height: 290px;
}

.undraw_img {
  position: absolute;
  left: 83px;
}

.greetings {
  position: absolute;
  width: 375px;
  height: 74px;
  top: 369px;
}

.txt {
  margin: 0;
  color: #333333;
  font-family: "SF UI Display", sans-serif;
  font-weight: lighter;
}

.txt_greetings {
  top: 10px;
  padding: 10px 40px;
  width: 295px;
  height: 54px;
  line-height: 17.6px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
